<h1 class="title">Diamond Sweeper</h1>

<div class="resumer" *ngIf="objStoreData && objStoreData['objData']">
  <span>Seems like last game is active, Would you like to resume the same ?</span>
  <button (click)="resume()">Resume</button>
  <button (click)="reset()">Cancel</button>
</div>

<section class="game__dashboard">
  <section class="game">
    <div class="game__board" *ngFor="let row of objData; let i = index">
      <div class="game__board__rows">
        <div *ngFor="let item of row let j = index"
             class="game__board__cols"
             [ngClass]="{
          arrow__right:(item['clicked']==true && item['predictor']==true && item['predictor_direction']=='arrow__right'),
          arrow__left:(item['clicked']==true && item['predictor']==true && item['predictor_direction']=='arrow__left'),
          arrow__bottom:(item['clicked']==true && item['predictor']==true && item['predictor_direction']=='arrow__bottom'),
          arrow__top:(item['clicked']==true && item['predictor']==true && item['predictor_direction']=='arrow__top'),
          question:item['clicked']==false,
          diamond:(item['clicked']==true && item['diamond']==true)
         }"
             (click)="onClick(item)"
        >
          <!--{{i}},{{j}}-->
        </div>
      </div>
    </div>
  </section>

  <section class="actions">
    <div class="clicks">
      <small>Clicks</small>
      <label>{{clicks}}</label>
    </div>

    <div class="clicks">
      <small>Diamonds Sweeped</small>
      <label>{{diamondCounter}} of {{limit}}</label>
    </div>

    <button routerLink="/">Home</button>
    <button (click)="reset()">Reset</button>
  </section>

</section>
<app-game-over [score]="score" *ngIf="diamondCounter == limit" (playAgain)="reset()"></app-game-over>
