/* You can add global styles to this file, and also import other style files */

$board_width: 35vw;
$white: #fff;
$grey: #ccc;
$green: #4caf50;
$red: #fa8f87;
$orange: orange;
$theme_color: #2E3651;

//utils
@import "utils/_snippets";
@import "utils/_shadow";
@import "utils/_animations";
@import "utils/_rotate";
@import "utils/_calc";
@import "utils/_columns";
@import "utils/_transform";
@import "utils/_linearGradient";

html, body {
  background: #2E3651;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
